include home.html
body(onload='showAll(); checkCookie()')

main

    table#mySched
        thead
            tr
                th My Schedule
        tbody

    //button(type='button', onclick="showAll()")
        | Display All
    button(type='button', onclick="document.getElementById('showAll').style.display = 'block'")
        | Display All
    button(type='button', onclick="hideAll()")
        | Hide All
    button(type='button', onclick="resetFilter()")
        | Reset Filter

    select(id='filter', name='FilterDropDwn', onchange="showFilter(this.value)")
        option(selected='', value='') Filter by...
        option(value='filterDept') Department
        option(value='filterProf') Instructor

    //p= main.length

    select(id='filterDept', name='deptDropDwn', onchange="filterByDept(this.value)")
        option(selected='', value='') Select Department...
        each item in deptList
            option(value=item)= item 

    select(id='filterProf', name='profDropDwn', onchange="filterByProf(this.value)")
        option(selected='', value='') Select Instructor...
        each item in profList
            option(value=item)= item

    table(id='showAll')
        thead
            tr
                th Course Code
                th Term
                th Title
        tbody

    script.
        function checkCookie() {
            var userSched = getCookie("mySched");
            console.log(userSched);
            if (userSched != "") {
                document.getElementById('mySched').innerHTML = userSched;
            } else {
                setCookie("mySched", document.getElementById('mySched').innerHTML);
            }
        }
        
        function getCookie(cSched) {
            var name = cSched + "=";
            console.log()
            var ca = document.cookie.split(';');
            var i;
            for (i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }
        
        function setCookie(cName, cValue) {
            var d = new Date();
            d.setTime(d.getTime() + (30*24*60*60*1000));
            var expires = "expires=" + d.toGMTString();
            document.cookie = cName + "=" + cValue + "; " + expires + "; path=/";
        }

    script.
        function copyRow(tableId, rowIndex, filterVal) {
            var myTable = document.getElementById('mySched').tBodies[0];
            var row;
            if (tableId === "showAll") {
                row = document.getElementById("showAll").tBodies[0].rows[rowIndex];
            } else {
                row = document.getElementById(tableId).rows[rowIndex];
            }
            var rowCopy = row.cloneNode(true);
            rowCopy.id = tableId + rowIndex + filterVal;
            if (myTable.rows.namedItem(rowCopy.id) === null) {
                if (myTable.rows.length > 0) {
                    var i;
                    var dupe = 0;
                    for (i = 0; i < myTable.rows.length; i++) {
                        var myRow = myTable.rows[i];
                        if (myRow.innerHTML.toString() === rowCopy.innerHTML.toString()) {
                            dupe = 1;
                        }
                        //console.log("hi " + dupe);
                    }
                    if (dupe === 0) {
                        myTable.appendChild(rowCopy);
                        var myRowIndex = myTable.rows.namedItem(rowCopy.id).rowIndex;
                        console.log(myRowIndex);
                        
                        myTable.rows.namedItem(rowCopy.id).setAttribute("onclick", "clearRow(this.rowIndex)");
                        
                        setCookie("mySched", document.getElementById('mySched').innerHTML);
                    } else {
                        console.log("ERROR: duplicate entry!")
                    }
                } else {
                    myTable.appendChild(rowCopy);
                    var myRowIndex = myTable.rows.namedItem(rowCopy.id).rowIndex;
                    console.log(myRowIndex);
                    
                    myTable.rows.namedItem(rowCopy.id).setAttribute("onclick", "clearRow(this.rowIndex)");
                    
                    setCookie("mySched", document.getElementById('mySched').innerHTML);
                }
            }
        }
        
        function clearRow(index) {
            document.getElementById('mySched').deleteRow(index);
            setCookie("mySched", document.getElementById('mySched').innerHTML);
        }

    script.
        function filterByProf(value) {
            console.log('31');
            if (document.getElementById("dept") !== null) {
                document.body.removeChild(document.getElementById("dept"));
            }
            if (value === '') {
                if (document.getElementById("prof") !== null) {
                    document.body.removeChild(document.getElementById("prof"));
                }
            } else {
                var list = "#{main}";
                var main = list.split("_,");
                main.splice(main.length - 1, 1, main[main.length - 1].slice(0, this.length-1));
                //console.log(main[0]);
                if (document.getElementById("prof") !== null) {
                    document.body.removeChild(document.getElementById("prof"));
                }
                var profTable = document.createElement("TABLE");
                profTable.setAttribute("id", "prof");
                //profTable.appendChild(document.createElement("TR")).appendChild(document.createElement("TH")).innerHTML = "Course Code";

                var header = profTable.createTHead();
                var hRow = header.insertRow(0);
                hRow.insertCell(0).outerHTML = "<th>Course Code</th>";


                //profTable.getElementsByTagName("TH")[0].setAttribute("onclick", "console.log('yo')");

                document.body.appendChild(profTable);

                var i;
                var j;
                var k;
                var doc = document.getElementById("prof");
                for (i = 0; i < main.length; i++) {
                    if (main[i].split("_")[3] === value) {
                        var curRow = doc.insertRow(-1);
                        var rowData = main[i].split("_");
                        for (j = 0; j < rowData.length; j++) {
                            curRow.insertCell(-1).innerHTML = rowData[j];
                        }
                        curRow.setAttribute("onclick", "copyRow('prof', " + (doc.rows.length-1) + ", '" + value + "')");
                    }
                }
                document.getElementById("prof").style.display = 'block';
            }
        }

    script.
        function filterByDept(value) {
            //console.log('70');
            if (document.getElementById("prof") !== null) {
                document.body.removeChild(document.getElementById("prof"));
            }
            if (value === '') {
                if (document.getElementById("dept") !== null) {
                    document.body.removeChild(document.getElementById("dept"));
                }
            } else {
                var list = "#{main}";
                var main = list.split("_,");
                main.splice(main.length - 1, 1, main[main.length - 1].slice(0, this.length-1));
                //console.log(main[0]);
                if (document.getElementById("dept") !== null) {
                    document.body.removeChild(document.getElementById("dept"));
                }
                var deptTable = document.createElement("TABLE");
                deptTable.setAttribute("id", "dept");
                deptTable.appendChild(document.createElement("TR")).appendChild(document.createElement("TH")).innerHTML = "Showing Courses in " + value;

                //deptTable.getElementsByTagName("TH")[0].setAttribute("onclick", "console.log('yo')");

                document.body.appendChild(deptTable);

                var i;
                var j;
                var k;
                var doc = document.getElementById("dept");
                for (i = 0; i < main.length; i++) {
                    if (main[i].split("_")[14] === value) {
                        var curRow = doc.insertRow(-1);
                        var rowData = main[i].split("_");
                        for (j = 0; j < rowData.length; j++) {
                            curRow.insertCell(-1).innerHTML = rowData[j];
                        }
                        curRow.setAttribute("onclick", "copyRow('dept', " + (doc.rows.length-1) + ", '" + value + "')");
                    }
                }
                document.getElementById("dept").style.display = 'block';
            }
        }

    script.
        function showAll() {
            var list = "#{main}";
            var main = list.split("_,");
            main.splice(main.length - 1, 1, main[main.length - 1].slice(0, this.length-1));
            var getTable = document.getElementById("showAll").tBodies[0];
            var i;
            var j;

            for (i = 0; i < main.length; i++) {
                getTable.insertRow(-1);
                var rowData = main[i].split("_");
                for (j = 0; j < rowData.length; j++) {
                    getTable.rows[i].insertCell(-1).innerHTML = rowData[j];
                }
                getTable.rows[i].setAttribute("onclick", "copyRow('showAll', " + i + ", 0)");
            }
        }

    script.
        function showFilter(value) {
            var i;
            for (i = 1; i < document.getElementsByTagName('select').length; i++) {
                document.getElementsByTagName('select')[i].style.display = 'none';
            }
            if(value !== ''){
                document.getElementById(value).selectedIndex = "0";
                document.getElementById(value).style.display = 'inline';
            }
        }

    script.
        function resetFilter() {
            var i;
            for (i = 0; i < document.getElementsByTagName('select').length; i++) {
                document.getElementsByTagName('select')[i].selectedIndex = "0";
            }
            for (i = 1; i < document.getElementsByTagName('select').length; i++) {
                document.getElementsByTagName('select')[i].style.display = 'none';
            }
            if (document.getElementById("prof") !== null) {
                document.body.removeChild(document.getElementById("prof"));
            }
            if (document.getElementById("dept") !== null) {
                document.body.removeChild(document.getElementById("dept"));
            }
        }

    script.
        function hideAll() {
            var x = document.getElementsByTagName('table');
            var i;
            for (i = 1; i < x.length; i++) {
                x[i].style.display = 'none';
            }

            for (i = 0; i < document.getElementsByTagName('select').length; i++) {
                document.getElementsByTagName('select')[i].selectedIndex = "0";
            }
            for (i = 1; i < document.getElementsByTagName('select').length; i++) {
                document.getElementsByTagName('select')[i].style.display = 'none';
            }
        }











