//Zachary Alleman
include home.html
body(onload='showAll(); checkCookie()')

main

    table#sectionMS
        tr
            th My Schedule

    table#mySched
        thead
            tr
                th Course Code
                th Term
                th Title
                th Instructor(s)
                th CRN
                th Hrs
                th Days
                th Start Time
                th End Time
                th Location
                th Lmt
                th Enr
                th WLCap
                th WLAct
                th Department
                th Conflicts
        tbody

    p(style="display:inline;font-weight:bold;font-size:18px;") Search Table: 

    input(type='text', id='searchInput', onkeyup="searchTable()", placeholder='Search full table...', size="25")

    button(type='button', onclick="resetFilter()", title="Resets search bar and filter menu.")
        | Reset Filter

    select(id='filter', name='FilterDropDwn', onchange="showFilter(this.value)")
        option(selected='', value='') Filter by...
        option(value='filterDept') Department
        option(value='filterProf') Instructor

    select(id='filterDept', name='deptDropDwn', onchange="filterByDept(this.value)")
        option(selected='', value='') Select Department...
        each item in deptList
            option(value=item)= item 

    select(id='filterProf', name='profDropDwn', onchange="filterByProf(this.value)")
        option(selected='', value='') Select Instructor...
        each item in profList
            option(value=item)= item

    table#sectionCL
        tr
            th Course List

    table#showAll
        thead
            tr
                th Course Code
                th Term
                th Title
                th Instructor(s)
                th CRN
                th Hrs
                th Days
                th Start Time
                th End Time
                th Location
                th Lmt
                th Enr
                th WLCap
                th WLAct
                th Department
        tbody

    script.
        //checks if mySched cookie exists, if not, then create one
        function checkCookie() {
            var userSched = getCookie("mySched");
            console.log(userSched);
            if (userSched != "") {
                document.getElementById('mySched').innerHTML = userSched;
            } else {
                setCookie("mySched", document.getElementById('mySched').innerHTML);
            }
        }
        
        //searches cookies for one that's name matches cSched
        function getCookie(cSched) {
            var name = cSched + "=";
            console.log()
            var ca = document.cookie.split(';');
            var i;
            for (i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }
        
        //creates a cookie with the schedule data for 30 days
        function setCookie(cName, cValue) {
            var d = new Date();
            d.setTime(d.getTime() + (30*24*60*60*1000));
            var expires = "expires=" + d.toGMTString();
            document.cookie = cName + "=" + cValue + "; " + expires + "; path=/";
        }

    script.
        //adds the selected course list row to My Schedule
        function copyRow(tableId, rowIndex, filterVal) {
            var myTable = document.getElementById('mySched').tBodies[0];
            var row;
            if (tableId === "showAll") {
                row = document.getElementById("showAll").tBodies[0].rows[rowIndex];
            } else {
                row = document.getElementById(tableId).rows[rowIndex];
            }
            var rowCopy = row.cloneNode(true);
            rowCopy.id = tableId + rowIndex + filterVal;
            if (myTable.rows.namedItem(rowCopy.id) === null) {
                if (myTable.rows.length > 0) {
                    var i, j;
                    var dupe = 0;
                    for (i = 0; i < myTable.rows.length; i++) {
                        var myRow = myTable.rows[i];
                        
                        for (j = 0; j < 15; j++) {
                            if (myRow.cells[j].innerHTML.toString() === rowCopy.cells[j].innerHTML.toString()) {
                                dupe++;
                            }
                        }
                        if (dupe < 15) {
                            dupe = 0;
                        }
                    }
                    if (dupe === 0) {
                        myTable.appendChild(rowCopy);
                        var myRowIndex = myTable.rows.namedItem(rowCopy.id).rowIndex;
                        console.log(myRowIndex);
                        
                        myTable.rows.namedItem(rowCopy.id).setAttribute("onclick", "clearRow(this.rowIndex)");
                        
                        checkConflicts();
                        
                        setCookie("mySched", document.getElementById('mySched').innerHTML);
                    } else {
                        console.log("ERROR: duplicate entry!");
                        alert("ERROR: duplicate entry!");
                    }
                } else {
                    myTable.appendChild(rowCopy);
                    var myRowIndex = myTable.rows.namedItem(rowCopy.id).rowIndex;
                    console.log(myRowIndex);
                    
                    myTable.rows.namedItem(rowCopy.id).setAttribute("onclick", "clearRow(this.rowIndex)");
                    
                    checkConflicts();
                    
                    setCookie("mySched", document.getElementById('mySched').innerHTML);
                }
            } else {
                console.log("ERROR: duplicate entry!");
                alert("ERROR: duplicate entry!");
            }
        }
        
        //checks My Schedule for time conflicts
        function checkConflicts() {
            var mySched = document.getElementById('mySched');
            var myRows = mySched.tBodies[0].rows;
            var daysI, tStartI, tEndI, i, j, k, x;
            for (i = 0; i < myRows.length; i++) {
                daysI = myRows[i].cells[6].innerHTML;
                
                tStartI = myRows[i].cells[7].innerHTML.split(':');
                tStartI = tStartI[0].concat(tStartI[1]);
                tStartI = Number(tStartI);
                
                tEndI = myRows[i].cells[8].innerHTML.split(':');
                tEndI = tEndI[0].concat(tEndI[1]);
                tEndI = Number(tEndI);
                
                for (j = 0; j < myRows.length; j++) {
                    if (j !== i && daysI.search("TBA") === -1) {
                        var daysJ = myRows[j].cells[6].innerHTML;
                        var tStartJ = myRows[j].cells[7].innerHTML.split(':');
                        tStartJ = tStartJ[0].concat(tStartJ[1]);
                        tStartJ = Number(tStartJ);
                        
                        var tEndJ = myRows[j].cells[8].innerHTML.split(':');
                        tEndJ = tEndJ[0].concat(tEndJ[1]);
                        tEndJ = Number(tEndJ);
                        
                        for (k = 0; k < daysJ.length; k++) {
                            
                            if (daysI.includes(daysJ.split("")[k]) && daysJ.search("TBA") === -1) {
                                if ((tStartJ >= tStartI && tStartJ <= tEndI) || (tEndJ >= tStartI && tEndJ <= tEndI)) {
                                    console.log(daysJ.split("")[k]);
                                    
                                    myRows[i].className = "conf";
                                    if (myRows[i].cells.namedItem("conf" + myRows[j].cells[0].innerHTML) === null) {
                                        x = myRows[i].insertCell(-1);
                                        x.innerHTML = "Conflicts with " + myRows[j].cells[0].innerHTML;
                                        x.id = "conf" + myRows[j].cells[0].innerHTML;
                                    }
                                    
                                    myRows[j].className = "conf";
                                    if (myRows[j].cells.namedItem("conf" + myRows[i].cells[0].innerHTML) === null) {
                                        x = myRows[j].insertCell(-1);
                                        x.innerHTML = "Conflicts with " + myRows[i].cells[0].innerHTML;
                                        x.id = "conf" + myRows[i].cells[0].innerHTML;
                                    }
                                }
                            } else if (daysJ.search("TBA") !== -1) {
                                console.log("TBA");
                            }
                        }
                    } else if (daysI.search("TBA") !== -1) {
                        console.log("TBA");
                    }
                }
            }
        }
        
        //Removes the selected row from My Schedule then rechecks conflicts and update cookie
        function clearRow(index) {
            document.getElementById('mySched').deleteRow(index);
            var c = document.getElementsByClassName('conf');
            var i;
            var l = c.length - 1;
            for (i = l; i >= 0; i--) {
                console.log("clearRow " + c.length);
                console.log("clearRow l " + l);
                while (c[i].cells.length > 15) {
                    c[i].deleteCell(-1);
                }
                c[i].removeAttribute("class");
                console.log("clearRow " + c.length);
                console.log("clearRow l " + l);
            }
            checkConflicts();
            setCookie("mySched", document.getElementById('mySched').innerHTML);
        }

    script.
        //hides rows on the main course list that do not match the search bar input
        function searchTable() {
            var input = document.getElementById('searchInput').value.toUpperCase();
            var table = document.getElementById('showAll');
            var tRows = table.tBodies[0].rows;
            var i, j, tCell;
            
            //hide rows that do not match input
            for (i = 0; i < tRows.length; i++) {
                var matchFound = 0;
                for (j = 0; j < tRows[i].cells.length; j++) {
                    tCell = tRows[i].cells[j];
                    if (tCell.innerHTML.toUpperCase().indexOf(input) > -1) {
                        matchFound = 1;
                    }
                }
                if (matchFound > 0) {
                    tRows[i].style.display = "";
                } else {
                    tRows[i].style.display = "none";
                }
            }
        }

    script.
        //creates a table filtered by the selected instructor (value).
        function filterByProf(value) {
            if (document.getElementById("dept") !== null) {
                document.body.removeChild(document.getElementById("dept"));
            }
            if (value === '') {
                if (document.getElementById("prof") !== null) {
                    document.body.removeChild(document.getElementById("prof"));
                }
            } else {
                document.getElementById("showAll").style.display = 'none';
                var list = "#{main}";
                var main = list.split("_,");
                main.splice(main.length - 1, 1, main[main.length - 1].slice(0, this.length-1));
                
                if (document.getElementById("prof") !== null) {
                    document.body.removeChild(document.getElementById("prof"));
                }
                var profTable = document.createElement("TABLE");
                profTable.setAttribute("id", "prof");
                
                document.getElementById('sectionCL').rows[0].cells[0].innerHTML = "Filtering by Instructor(s) " + value;
                
                profTable.innerHTML = document.getElementById("showAll").tHead.innerHTML;
                
                document.body.appendChild(profTable);

                var i;
                var j;
                var k;
                var doc = document.getElementById("prof");
                for (i = 0; i < main.length; i++) {
                    if (main[i].split("_")[3] === value) {
                        var curRow = doc.insertRow(-1);
                        var rowData = main[i].split("_");
                        for (j = 0; j < rowData.length; j++) {
                            curRow.insertCell(-1).innerHTML = rowData[j];
                        }
                        curRow.setAttribute("onclick", "copyRow('prof', " + (doc.rows.length-1) + ", '" + value + "')");
                    }
                }
                document.getElementById("prof").style.display = 'block';
            }
        }

    script.
        //creates a table filtered by the selected Department (value).
        function filterByDept(value) {
            if (document.getElementById("prof") !== null) {
                document.body.removeChild(document.getElementById("prof"));
            }
            if (value === '') {
                if (document.getElementById("dept") !== null) {
                    document.body.removeChild(document.getElementById("dept"));
                }
            } else {
                document.getElementById("showAll").style.display = 'none';
                var list = "#{main}";
                var main = list.split("_,");
                main.splice(main.length - 1, 1, main[main.length - 1].slice(0, this.length-1));
                
                if (document.getElementById("dept") !== null) {
                    document.body.removeChild(document.getElementById("dept"));
                }
                var deptTable = document.createElement("TABLE");
                deptTable.setAttribute("id", "dept");
                
                document.getElementById('sectionCL').rows[0].cells[0].innerHTML = "Filtering by Department " + value;
                
                deptTable.innerHTML = document.getElementById("showAll").tHead.innerHTML;
                
                document.body.appendChild(deptTable);
                
                var i;
                var j;
                var k;
                var doc = document.getElementById("dept");
                for (i = 0; i < main.length; i++) {
                    if (main[i].split("_")[14] === value) {
                        var curRow = doc.insertRow(-1);
                        var rowData = main[i].split("_");
                        for (j = 0; j < rowData.length; j++) {
                            curRow.insertCell(-1).innerHTML = rowData[j];
                        }
                        curRow.setAttribute("onclick", "copyRow('dept', " + (doc.rows.length-1) + ", '" + value + "')");
                    }
                }
                document.getElementById("dept").style.display = 'block';
            }
        }

    script.
        //creates and displays the main course list.
        function showAll() {
            var list = "#{main}";
            var main = list.split("_,");
            main.splice(main.length - 1, 1, main[main.length - 1].slice(0, this.length-1));
            var getTable = document.getElementById("showAll").tBodies[0];
            var i;
            var j;
            
            for (i = 0; i < main.length; i++) {
                getTable.insertRow(-1);
                var rowData = main[i].split("_");
                for (j = 0; j < rowData.length; j++) {
                    getTable.rows[i].insertCell(-1).innerHTML = rowData[j];
                }
                getTable.rows[i].setAttribute("onclick", "copyRow('showAll', " + i + ", 0)");
            }
            document.getElementById('showAll').style.display = 'block';
        }

    script.
        //once type of filter chosen display second dropdown menu.
        function showFilter(value) {
            var i;
            for (i = 1; i < document.getElementsByTagName('select').length; i++) {
                document.getElementsByTagName('select')[i].style.display = 'none';
            }
            if(value !== ''){
                document.getElementById(value).selectedIndex = "0";
                document.getElementById(value).style.display = 'inline';
            }
        }

    script.
        //resets the filters and displays full course list
        function resetFilter() {
            var i;
            for (i = 0; i < document.getElementsByTagName('select').length; i++) {
                document.getElementsByTagName('select')[i].selectedIndex = "0";
            }
            for (i = 1; i < document.getElementsByTagName('select').length; i++) {
                document.getElementsByTagName('select')[i].style.display = 'none';
            }
            if (document.getElementById("prof") !== null) {
                document.body.removeChild(document.getElementById("prof"));
            }
            if (document.getElementById("dept") !== null) {
                document.body.removeChild(document.getElementById("dept"));
            }
            document.getElementById('sectionCL').rows[0].cells[0].innerHTML = "Course List";
            document.getElementById('searchInput').value = '';
            searchTable();
            document.getElementById('showAll').style.display = 'block';
        }