include home.html
main

    button(type='button', onclick="document.getElementById('showAll').style.display = 'block'")
        | Display All
    button(type='button', onclick="hideAll()")
        | Hide All
    button(type='button', onclick="resetFilter()")
        | Reset Filter

    select(id='filter', name='FilterDropDwn', onchange="showFilter(this.value)")
        option(selected='', value='') Filter by...
        option(value='filterDept') Department
        option(value='filterProf') Instructor

    //p= main.length

    select(id='filterDept', name='deptDropDwn', onchange="filterByDept(this.value)")
        option(selected='', value='') Select Department...
        each item in deptList
            option(value=item)= item 
    
    select(id='filterProf', name='profDropDwn', onchange="filterByProf(this.value)")
        option(selected='', value='') Select Instructor...
        each item in profList
            option(value=item)= item

    script.
        function filterByProf(value) {
            if (document.getElementById("dept") !== null) {
                document.body.removeChild(document.getElementById("dept"));
            }
            if (value === '') {
                if (document.getElementById("prof") !== null) {
                    document.body.removeChild(document.getElementById("prof"));
                }
            } else {
                var list = "#{main}";
                var main = list.split(" ,");
                if (document.getElementById("prof") !== null) {
                    document.body.removeChild(document.getElementById("prof"));
                }
                var profTable = document.createElement("TABLE");
                profTable.setAttribute("id", "prof");
                profTable.appendChild(document.createElement("TR")).appendChild(document.createElement("TH")).innerHTML = value;
                
                profTable.getElementsByTagName("TH")[0].setAttribute("onclick", "console.log('yo')");
                
                document.body.appendChild(profTable);
            
                var i;
                for (i = 0; i < main.length; i++) {
                    var doc = document.getElementById("prof");
                    var row = document.createElement("TR");
                    var cell = document.createElement("TD");
                    if (main[i].includes(" " + value + " ")) {
                        doc.appendChild(row).appendChild(cell).innerHTML = main[i];
                    }
                }
                document.getElementById("prof").style.display = 'block';
            }
        }

    script.
        function filterByDept(value) {
            if (document.getElementById("prof") !== null) {
                document.body.removeChild(document.getElementById("prof"));
            }
            if (value === '') {
                if (document.getElementById("dept") !== null) {
                    document.body.removeChild(document.getElementById("dept"));
                }
            } else {
                var list = "#{main}";
                var main = list.split(" ,");
                if (document.getElementById("dept") !== null) {
                    document.body.removeChild(document.getElementById("dept"));
                }
                var deptTable = document.createElement("TABLE");
                deptTable.setAttribute("id", "dept");
                deptTable.appendChild(document.createElement("TR")).appendChild(document.createElement("TH")).innerHTML = "Showing Courses in " + value;
                
                deptTable.getElementsByTagName("TH")[0].setAttribute("onclick", "console.log('yo')");
                
                document.body.appendChild(deptTable);
            
                var i;
                for (i = 0; i < main.length; i++) {
                    var doc = document.getElementById("dept");
                    var row = document.createElement("TR");
                    var cell = document.createElement("TD");
                    if (main[i].endsWith(" " + value) || main[i].endsWith(" " + value + " ")) {
                        doc.appendChild(row).appendChild(cell).innerHTML = main[i];
                    }
                }
                document.getElementById("dept").style.display = 'block';
            }
        }

    script.
        function showFilter(value) {
            var i;
            for (i = 1; i < document.getElementsByTagName('select').length; i++) {
                document.getElementsByTagName('select')[i].style.display = 'none';
            }
            if(value !== ''){
                document.getElementById(value).style.display = 'inline';
            }
        }
    
    script.
        function resetFilter() {
            var i;
            for (i = 0; i < document.getElementsByTagName('select').length; i++) {
                document.getElementsByTagName('select')[i].selectedIndex = "0";
            }
            for (i = 1; i < document.getElementsByTagName('select').length; i++) {
                document.getElementsByTagName('select')[i].style.display = 'none';
            }
            if (document.getElementsByTagName('table').length > 1) {
                for (i = 1; i < document.getElementsByTagName('table').length; i++) {
                    document.body.removeChild(document.getElementsByTagName('table')[i]);
                }
            }
        }
    
    script.
        function hideAll() {
            var x = document.getElementsByTagName('table');
            var i;
            for (i = 0; i < x.length; i++) {
                x[i].style.display = 'none';
            }
            
            for (i = 0; i < document.getElementsByTagName('select').length; i++) {
                document.getElementsByTagName('select')[i].selectedIndex = "0";
            }
            for (i = 1; i < document.getElementsByTagName('select').length; i++) {
                document.getElementsByTagName('select')[i].style.display = 'none';
            }
        }
    
    table#showAll
        thead
            tr
                th(onclick="console.log('hi')") Course Code
        tbody
            each item in main
                tr
                    td= item
    
    
    //table#dept
        tr
            th asdf





